.aside {
  width: 15%;
  height: 100vh;
  display: inline-block;
  background-color: gray;
}
@media (max-width: 1000px) {
  .aside {
    width: 13%;
  }
}
@media (max-width: 768px) {
  .aside {
    width: 10%;
  }
}
@media (max-width: 400px) {
  .aside {
    display: none;
  }
}
